.selector-section{
  text-align: center;
}


.ingredient-div{

 text-align: center;
  width: auto;
  margin: auto;
}

.ingredient {

display: inline-block;
  height: 60px;
  opacity: 0.6;
  margin: 50px 20px 50px 20px;
  } .ingredient:hover {
    transform: scale(1.2);
    opacity: 1;
    animation: box-hover 0.3s
  }
  @keyframes box-hover {
    0% {
      opacity: 0.4;
      transform: scale(1);
    }
    50% {
      opacity: 1;
    transform: scale(1.3);
    }
    100% {
      opacity: 1;
    transform: scale(1.2);
  }

  }

.ingredient-selected {
    border-radius: 20%;
  background-color: #73eceb;
}

.ingredient-img {
  max-width: 100%;
  max-height: 100%;
}

.display-ingredient {
  height: 200px;
  width: 200px;
}

.macro-section{
  text-align: center;
}

.chart-div{
  margin: 100px 400px;
}
