<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("partials/head"); -%>
  </head>
    <body class="bg-light">
      <header>
      <%- include('partials/header'); -%>
      </header>


<section class="selector-section container-fluid hide-div">
  <h1>
    Landing
  </h1>
  <p>
    My page
  </p>
</section>
</body>
<footer>
<%- include('partials/footer') -%>
</footer>
